.itemWrapper {
  height: 40px;
  border-radius: 6px;
  background-color: #ffffff;
  margin-bottom: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.itemWrapper[nav-selected="true"] {
  border: solid 1px #d84315;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 100%;
  max-width: 108px;
  padding: 6px 0 2px 0;
  margin-left: 40px;
  font-size: 12px;
  color: #1e1d20;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fromNow {
  max-width: 50px;
  font-size: 10px;
  font-weight: 500;
  text-align: right;
  color: #797e83;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.timeWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currentTime,
.duration {
  font-size: 10px;
  font-weight: 500;
  color: #1e1d20;
  margin: 0;
  padding: 0 0 5px 0;
}

.statusBar {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #ebedf0;
}

progress[value]::-moz-progress-bar {
  background-color: #d84315;
}
