.wrapper {
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: #d84315;
  padding: 15px 80px 15px 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}
